

.contenedor{
  display: flex;
 
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center !important;
  

}

.logo{
  padding-top: 28%;
 
  width: 80%;
  height: 80%;

 
}